.inputSearch {
  margin-top: 20px;
  width: 800px;
}

.title {
  text-align: center;
  color: white;
}

.card {
  display: flex;
  width: 100%;
  background-color: lavender;
  color: black;
}
.cardbody:hover{
  background-color: lightgrey;
  transition: ease-in-out 2s;
}